{% extends 'base.html' %}
{% load static %}
{% block titulo %} Veterinaria ChuckyPB | Inicio {% endblock %}

{% block TopBar %}
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">vetchuky@gmail.com</a>
        <i class="bi bi-phone"></i> +56 9 12345678
      </div>

    </div>
</div>
{% endblock %}

{% block Header %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Veterinaria ChukyPB</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav id="navbar" class="navbar order-last order-lg-0">
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="appointment-btn scrollto">Panel Administrativo</a>
      {% else %}
        <a href="{% url 'login' %}" class="appointment-btn scrollto">Iniciar sesión</a>
      {% endif %}
    </div>
</header>
{% endblock %}

{% block Footer %}
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="container d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
              <div class="copyright">
                &copy; Designed by Renato Rodriguez (CEO EXS) & Benjamin Mellado (CEO EXS).
              </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </footer>

{% endblock %}